.invoice-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f5f5f5;
  z-index: 204;
}
.invoice-main {
  padding-top: 1rem;

  .choose-invoice {
    margin-top: .24rem;
    background-color: $c-f;
    @include flex(space-between);
    padding: 0 .32rem;
    line-height: 1.2rem;
    .invoice-item {
      font-size: .36rem;
      color: #333;
    }
    .iconfont {
      font-size: .4rem;
      color: #999;
      &.choosed {
        color: #4cd964;
      }
    }
  }
  .confirm-btn {
    background-color: #4cd964;
    margin: .2rem .32rem 0;
    text-align: center;
    color: $c-f;
    font-size: .32rem;
    border-radius: .1rem;
    line-height: .84rem;
  }
}