.searchaddress-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 204;
  overflow-y: auto;
}

.searchaddress-main {
  padding-top: 1rem;
  .search-form {
    display: flex;
    padding: .32rem;
    input {
      height: .7rem;
      padding: 0 .2rem;
      margin-right: .28rem;
      background-color: #f1f1f1;
      font-size: .3rem;
      color: #999;
      flex: 4;
      border-radius: .08rem;
    }
    .search-btn {
      flex: 1;
      font-size: .3rem;
      color: #fff;
      background-color: $theme-color;
      border-radius: .08rem;
      text-align: center;
      line-height: .7rem;
    }
  }
  .address-list {
    padding: .32rem;
    .address-item {
      padding: .32rem 0;
      border-bottom: .012rem solid #f5f5f5;
      line-height: .48rem;
      .address-name {
        font-size: .36rem;
        color: #555;
      }
      .address-detail {
        font-size: .3rem;
        color: #999;
      }
    }
  }
  .empty-tips {
    width: 100%;
    @include positionCenter;
    p {
      text-align: center;
      font-size: .24rem;
      color: #aaa;
      line-height: .36rem;
    }
  }
}