.empty-container {
  width: 100%;
  padding: 1.4rem 1rem;
  text-align: center;
  
  .empty-tips {
    font-size: .28rem;
    color: gray;
    margin: 1rem 0;
  }
  .empty-icon .empty-img {
    width: 2.8rem;
  }
}